<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=ACHRAF\GI2;Initial Catalog=EcommerceDB4;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" requestValidationMode="2.0" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="fr-FR" uiCulture="fr-FR" fileEncoding="utf-8" />
		<pages validateRequest="false" enableViewStateMac="false">
			<namespaces>
				<clear />
			</namespaces>
			<controls>
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		<handlers>
		</handlers>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="AI:Provider" value="Groq" />
		<add key="AI:ApiKey" value="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" />
		<add key="AI:Model" value="llama-3.3-70b-versatile" />
		<add key="AI:Endpoint" value="https://api.groq.com/openai/v1/chat/completions" />

		<!-- Google OAuth Configuration -->
		<add key="GOOGLE_CLIENT_ID" value="804939040502-7cigcpr9gjiou20t7do7h7itej9nmsj5.apps.googleusercontent.com" />
		<add key="GOOGLE_CLIENT_SECRET" value="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" />
		<add key="GOOGLE_REDIRECT_URL" value="http://localhost:50500/auth/google/callback.aspx" />

		<!-- SMTP (Gmail) Configuration -->
		<add key="MAIL_MAILER" value="smtp" />
		<add key="MAIL_HOST" value="smtp.gmail.com" />
		<add key="MAIL_PORT" value="587" />
		<add key="MAIL_USERNAME" value="testmail36515@gmail.com" />
		<add key="MAIL_PASSWORD" value="ksceuawdebxvxvjz" />
		<add key="MAIL_ENCRYPTION" value="tls" />
		<add key="MAIL_FROM_ADDRESS" value="testmail36515@gmail.com" />
		<add key="MAIL_FROM_NAME" value="ServicePro" />
	</appSettings>
</configuration>
